<html>
  <head>
    <title>{{ config.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <link href="https://rawgit.com/AlexFlipnote/ModestaCSS/master/css/modesta.css" type="text/css" rel="stylesheet">

    <meta name="theme-color" content="#d35400">
    <meta content="{{ config.domain }}assets/images/favicon.ico" property="og:image" />
    <link rel="icon" type="image/x-icon" href="{{ config.domain }}assets/images/favicon.ico">
    <meta content="{{ config.title }}" property="og:title" />

    <meta content="{{ config.description }}" property="og:description" />
    <meta content="{{ config.description }}" name="description" />
  </head>
  
  <body class="github-font-standard">

    <section class="fullscreen">

      <div class="background" style="background-color: #36393f;"></div>
      
      <div class="center-object">
        <section class="me">
          <h1 class="title">🤡 {{ config.title }}</h1>
          <span class="undertitle">{{ config.description }}<br></span>
        </section>

        <div class="buttons">
          <a href="random" class="btn animation turquoise" target="_blank">One Click Test</a>
          <a href="api/v1/discordmsg" class="btn animation nephritis" target="_blank">send [JSON]</a>
          <a href="https://github.com/drapaiton/discordmsgapi" class="btn animation black" target="_blank">GitHub</a>
        </div>

      </div>

    </section>
  </body>
</html>
